#result-page-wrapper{
  max-width: 90%;
  margin: auto;
  position: relative;
}

#result-message{
  margin-top: 5%;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  font-size: 2em;
}

#back-home-btn{
  margin-top:5%;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

#incorrect-box-wrapper{
  max-width: 90%;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
