.selection-page-wrapper{
  max-width: 90%;
  margin: auto;
}

.category-grid-wrapper{
  margin-top:6%;
  margin-bottom: 6%;
}

#banner{
  margin-top: 2%;
  margin-bottom: 4%;
}

#start-button{
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#start-message{
  margin-top: 4%;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#navbar-header{
  margin-bottom:0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family:"Monoton";
  font-size:2em;
}

.category-box{
  cursor: pointer;
}
